<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
<h1>WELCOME</h1>
<div>
    <h3> Login </h3>
   <form method="POST"  action="{{ url_for('fridge_view') }}">
            <fieldset>
                <legend>LOGIN TO YOUR FRIDGE</legend>
                <div>
                    {{ form.csrf_token }}
                </div>
                <div>
                    {{ form.e_mail.label() }}
                    {{ form.e_mail }}
                </div>
                <div>
                    {{ form.password.label() }}
                    {{ form.password }}
                </div>
                <div>
                    {{ form.remember.label() }}
                    {{ form.remember }}
                </div>

            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
</div>
<div>
    <h3> Register </h3>
     <a href="{{ url_for('register_view') }}"><button type="button">Register new FRIDGE</button></a>
</div>

</body>
</html>